include sidebar
extends layout

mixin escaped-email(email)
  - var pieces = email.split('@')
  if (pieces.length != 2)
    a.fa.fa-envelope= " " + email
  else
    a.fa.fa-envelope
      i= " "
      i= pieces[0]
      i.fa.fa-at
      i= pieces[1]

mixin info-block(member)
  .card
    .image
      img(src= member.icon, alt= member.name)
    .content
      .header= member.name
      .meta
        a= member.pos
    .extra.content
      .left.floated
        +escaped-email(member.email)

mixin info-blocks(members)
  each member in members
    +info-block(member)

block content
  .ui.container#content
    h1.ui.header 人才培养
    .ui.link.cards
      +info-blocks(members)

